<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Forgot Password</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href='../../img/grapevine-logo-small.svg'>
    <script th:src="@{/js/toggle-colour-scheme.js}"></script>
</head>
    <body>
        <div class="outer-container">
            <div class="inner-container">
                <span class="welcome-message">Forgotten Your Password?</span>
                    <form class="register-form" th:action="@{/auth/forgotPassword}" method="post" th:object="${forgotPasswordDTO}" novalidate>

                        <!-- Email Field -->
                        <div class="form-field">
                            <label for="email">Enter Your Email Address:</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" th:value="*{email}" data-cy="email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" style="color: red;"></span>
                            <br/>
                        </div>

                        <!-- Submit & Cancel Button -->
                        <div class="button-container">
                            <button class="cancel" type="button" onclick="cancelAction(event)">
                                <span th:href="@{/auth/login}">Cancel</span>
                            </button>

                            <button class="submit" type="submit" value="submit"><span>Submit</span></button>
                        </div>
                    </form>

                <!-- Confirmation Message -->
                <div th:if="${confirmationMessage}" class="confirmation-message">
                    <p th:text="${confirmationMessage}" style="color: green;"></p>
                </div>
            </div>
        </div>
    </body>
<script th:src="@{/js/suppress-enter-submission.js}" data-allowed-types="submit,button" data-allowed-ids="email"></script>
</html>