<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Reset Password</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <script th:src="@{/js/toggle-colour-scheme.js}"></script>
        <link rel="icon" type="image/x-icon" href='../../img/grapevine-logo-small.svg'>
    </head>
    <body>
        <div class="outer-container">
            <div class="inner-container">
                <span class="welcome-message">Reset Your Password</span>
                <form class="register-form" th:action="@{/auth/resetPassword}" method="post" th:object="${resetPasswordDTO}" novalidate>

                    <!-- Hidden Field for Token -->
                    <input type="hidden"  th:field="*{token}"/>
                    <span th:if="${#fields.hasErrors('token')}" th:errors="*{token}" class="error" style="color: red;"></span>

                    <!-- Password Field -->
                    <div class="form-field">
                        <label for="password">New Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" th:value="*{password}" data-cy="password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error" style="color: red;"></span>
                        <br/>
                    </div>

                    <!-- Repeat Password Field -->
                    <div class="form-field">
                        <label for="passwordRepeat">Repeat New Password:</label>
                        <input type="password" class="form-control" id="passwordRepeat" placeholder="Repeat Password" name="passwordRepeat" th:value="*{passwordRepeat}" data-cy="passwordRepeat">
                        <span th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" class="error" style="color: red;"></span>
                        <br/>
                    </div>

                    <!-- Submit Button -->
                    <div class="button-container">
                        <button class="submit" type="submit" value="submit"><span>Submit</span></button>
                    </div>
                </form>

                <!-- Confirmation Message -->
                <div th:if="${confirmationMessage}" class="confirmation-message">
                    <p th:text="${confirmationMessage}" style="color: green;"></p>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{/js/suppress-enter-submission.js}" data-allowed-types="submit"></script>
</html>