<!DOCTYPE html>
<html>
<head>
    <title>Your account has been deactivated temporarily</title>
</head>
<body style="background-color: #fffaf0;">
<div style="width: 100%; align-items: center; display: flex; flex-direction: column; height: 100%">

    <table style="width: 100%; max-width: 100%; height: 100%; justify-content: space-around; font-family: 'Tahoma', sans-serif;">
        <tbody style="text-align: center; margin: auto">
        <tr>
            <h1 style="width: 100%; background-color: #639175; color: white; padding-bottom: 20px; padding-top: 20px; text-align: center; margin: 0; font-size: xx-large">
                GrapeVine</h1>
        </tr>
        <tr>
            <table style="text-align: center; margin: auto; padding-left: 2.5vh; padding-right: 2.5vh; height: 100%">
                <tr>
                    <span style="font-size: x-large; margin-top: 20px; margin-bottom: 20px; font-weight: bold; text-align: center">Your account has been blocked for 7 days.</span>
                    <br>
                </tr>
                <tr>
                    <span style="font-size: larger; text-align: center">You may not log into Grapevine until the 7 days are over.</span>
                    <br>
                </tr>
                <tr>
                    <span style="font-size: larger; text-align: center">Your account has been blocked due to multiple inappropriate content submissions.</span>
                </tr>
            </table>
        <tr>
        </tbody>
    </table>
</div>
</body>
</html>