<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Edit Profile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href='../../img/grapevine-logo-small.svg'>
</head>
<body>
<div th:if="${gardens != null}">
    <div th:replace="fragments/navbar.html :: nav-bar(${gardens})"></div>
</div>
<div class="outer-container">
    <div class="inner-container">
        <span class="welcome-message">Change your password</span>
        <form id="changePasswordForm" class="register-form" th:action="@{/user/editPassword}" method="post" th:object="${user}">

            <!-- Old Password Field -->
            <div class="form-field">
                <label for="oldPasswordEdit">Old Password:</label>
                <input type="password" class="form-control" id="oldPasswordEdit" placeholder="Old Password" name="oldPassword" data-cy="oldPassword"
                       th:value="*{oldPassword}">
                <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="error" style="color: red;"></span>
            </div>
            <br/>

            <!-- New Password Field -->
            <div class="form-field">
                <label for="passwordEdit">New Password:</label>
                <input type="password" class="form-control" id="passwordEdit" placeholder="New Password" name="password" data-cy="password"
                       th:value="${password}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error" style="color: red;"></span>
            </div>
            <br/>

            <!-- Repeat Password Field -->
            <div class="form-field">
                <label for="passwordRepeatEdit">Retype Password:</label>
                <input type="password" class="form-control" id="passwordRepeatEdit" placeholder="Retype Password" name="passwordRepeat" data-cy="passwordRepeat"
                       th:value="${passwordRepeat}">
                <span th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" class="error" style="color: red;"></span>
            </div>
            <br/>

            <div class="button-container">
                <!-- Cancel Button -->
                <button class="cancel" type="button" onclick="cancelEditAction(event)">
                    <span th:href="@{'/user/profile/' + ${user.id ?: userId}}">Cancel</span>
                </button>

                <!-- Submit Button -->
                <button class="submit" type="submit"><span>Submit</span></button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var link = /*[[@{'/user/profile/' + ${user.id ?: userId}}]]*/'';

    $('#div').html(
        '<a href="' + link + '">...</a>'
    );

    //This function makes the action of the change password button go to the change password page when pressing enter and clicking
    function cancelEditAction(event) {
        event.preventDefault();
        window.location.href = link
    }

    /*]]>*/
</script>
<script th:src="@{/js/suppress-enter-submission.js}" data-allowed-types="submit,button"></script>
</body>
</html>

